.P1{
    width: 100px;
    height:100px;
    background:red;
    margin-right:3px;
}
.P2{
    width: 100px;
    height:100px;
    background:green;
    margin-right:3px;
    position: relative;
    bottom: 0px;
    right: 50px;
}
.P3{
    width: 100px;
    height:100px;
    background:red;
    margin-right:3px;
}
.P4{
    width: 100px;
    height:100px;
    background:green;
    margin-right:3px;
}

.hao{
    display: flex;
}