.P1{
    width: 100px;
    height:100px;
    background:red;
    margin-right:3px;
}
.P2{
    width: 100px;
    height:100px;
    background:green;
    margin-right:3px;
    position: relative;
    top: 10px;
    left: 10px;
}
.P3{
    width: 100px;
    height:100px;
    background:red;
    margin-right:3px;
}
.P4{
    width: 100px;
    height:100px;
    background:green;
    margin-right:3px;
    position: absolute;
    top:10px;
    right:10px;
}

.hao{
    display: flex;
}